/* This file is for your main application css. */

@import "./phoenix.css";

.pixel-wolrd-viewport
{
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);

}

.pixel-wolrd-viewport > div{
    display: flex;
    background-color: blue;
}


.pixel-wolrd-viewport > div.wall {
    background-color: #000000;
}

.pixel-wolrd-viewport > div.hero {
    background-color: green;
}




.pixel-wolrd-viewport > div.hero > .foe {
    background-color: red;
}


.pixel-wolrd-viewport > div.hero > .dead {
    background-color: gray;
}
